.root {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  padding: 20px 15px 30px;
  background-image: url(./pic_1_form.jpg);
  min-height: 482px;
  background-position: center;
  background-size: cover;

  .wrapper {
    .title {
      line-height: 1.625rem;
      font-size: 1.5em;
      font-family: ProximaNova-Bold;
      color: white;
    }

    .rateArea {
      margin: 9px 0 15px;
      color: white;

      .star{
        background-image: url(./star.svg);
        margin: 0 1px;

        position: relative;
        top: 2px;
        width: 17px;
        height: 16px;
        display: inline-flex;
      }

      .emptyStar{
        background-image: url(./star_empty.svg);
        margin: 0 1px;

        position: relative;
        top: 2px;
        width: 17px;
        height: 16px;
        display: inline-flex;

        .percentStar {
          background-image: url(./star.svg);
          width: 50%;
        }
      }

      .googleLink {
        text-decoration: underline;
        color: #fff;
      }
    }

    .search {
      background-color: #fff;
      padding: 20px;

      .formName {
        font-size: 1.25em;
        font-family: ProximaNova-Bold;
        color: #1d252c;
        margin-bottom: 10px;
      }

      .label {
        display: block;
        font-family: ProximaNova-Semibold;
        margin-bottom: 5px;
      }

      .selectInput {
        appearance: none;
        color: #1d252c;
        min-height: 56px;
        border: 1px solid #d3d3d3;
        outline: none;
        width: 100%;
        padding: 0 16px;
        background-image: url(./location.svg);
        background-repeat: no-repeat;
        background-position: calc(100% - 16px) center;
        margin-bottom: 11px;
      }

      .date {
        appearance: none;
        color: #1d252c;
        min-height: 56px;
        border: 1px solid #d3d3d3;
        width: 100%;
        outline: none;
        position: relative;
        padding: 0 16px;
        max-width: unset!important;

        background-image: url(./calendar.svg);
        background-color: #fff;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: calc(100% - 16px);

        margin-bottom: 11px;
      }
    }
  }
}