@import "../../../css/media_endpoints.scss";
@import "../../../css/colors.scss";
@import "../../../css/consts.scss";

.root{
  flex: 0 0 100%;
  max-width: 100%;
  margin: 10px 0 12px;

  position: relative;
  width: 100%;

  .wrapper{
    height: 140px;
    width: 140px;
    margin: 0 auto 20px;
    position: relative;
    .number{
      background: none;
      color: $black;
      font-family: ProximaNova-Semibold;
      line-height: 98px;
      border-radius: 50%;
      bottom: 0.4em;
      cursor: default;
      display: block;
      font-size: 2.5em;
      left: 20px;
      position: absolute;
      right: 0.4em;
      text-align: center;
      top: 0.4em;

      span{
        font-size: 14px;
        padding-bottom: 20px;
        vertical-align: super;
        color: #333;
      }
    }
    .pie{
      height: 100%;
      width: 100%;
      left: 0;
      position: absolute;
      top: 0;

      border: 6px solid $orange;
      border-radius: 50%;
    }
    .shadow{
      height: 100%;
      width: 100%;
      border: 6px solid #bdc3c7;
      border-radius: 50%;
      box-shadow: none !important;
    }
  }
  p{
    color: $black;
    font-size: 1.125em;
    font-family: ProximaNova-Bold;
    line-height: 1.5rem;
    margin: 0 auto;
    max-width: 270px;
    text-align: center;
  }
}

@media (min-width: $tablet){
  .root{
      max-width: 50%;
  }
}

@media (min-width: $desktop){
  .root{
    max-width: 33.333333%;
  }
}