.error {
    background-color: red;
    font-size: 24px;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
}

.error:hover {
    background-color: green;
}

.error:active{
    background-color: grey;
}