@import "../../../css/media_endpoints.scss";
@import "../../../css/colors.scss";
@import "../../../css/consts.scss";

.root{
  margin-top: 48px;
  min-height: 200px;
  background-image: url(./assets/video_cars.jpg);
  background-position-x: center;
  background-position-y: 72%;
  background-repeat: no-repeat;
  background-size: cover;

  .wrapper{
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    .link{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 200px;
    }
  }
}

@media (min-width: $tablet){
  .root{
    min-height: 500px;
    .wrapper{
      .link{
        min-height: 500px;
      }
    }
  }
}