.root{
  .carName{
    font-family: ProximaNova-Bold;
    text-transform: uppercase;
    text-align: center;
    color: #1d252c;
    margin: 11px 0 -1px;
  }

  .carCost {
    text-align: center;
    font-family: ProximaNova-Semibold;
    color: #ff5100;
  }

  & > a {
    text-decoration: none;
  }
}