@import "./src/css/media_endpoints";

.root{
  position: fixed;
  bottom: 53px;
  right: 74px;
  z-index: 99;

  .phone{
    margin-bottom: 11px;
    cursor: pointer;
  }
}

@media (max-width: $desktop){
  .root{
    bottom: 30px;
    right: 30px;
  }
}