$white: #fff;
$light-grey: #e9e9e9;
$grey: #d3d3d3;
$grey-second: #d6d7d7;
$dark-grey: #acacac;
$black: #1d252c;
$dark: #343b41;
$orange: #ff5100;
$red: #dc3232;

$search_auto_btn: $orange;
$font: $black;
$error: $red;