@import "src/css/media_endpoints";

.arrows{
  position: absolute;
  width: 40px;
  top: 0;
  bottom: 0;
  z-index: 9999999;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.prev {
  composes: arrows;
  left: -20px;
  right: auto;
  background-image: url(assets/prev.svg);
}

.next {
  composes: arrows;
  right: -20px;
  left: auto;
  background-image: url(assets/next.svg);
}

.root{
  padding: 20px 15px 30px;
  width: 100%;

  .wrapper{
    position: relative;
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;

    .row{
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;

      .scrollArea{
        width: 100%;
        overflow-x: auto;
        padding-top: 40px;

        .carsType{
          display: flex;
          justify-content: space-between;
          min-width: 1100px;
          margin: 0 0 10px;
          padding-left: 20px;
        }
      }
    }
  }
}

@media (min-width: $tablet) {
  .next{
    display: none;
  }

  .prev{
    display: none;
  }
}