@import "../../../css/media_endpoints.scss";
@import "../../../css/colors.scss";
@import "../../../css/consts.scss";

.root {
  position: relative;
  user-select: none;
  margin-top: 15px;

  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  .wrapper {
    position: relative;
    padding-bottom: 54px;

    .indicators {
      display: flex;
      justify-content: center;
      margin: 0 2rem 1rem 2rem;
      list-style: none;
      position: absolute;

      bottom: 0;
      left: 0;
      right: 0;
      padding: 0;

      .active {
        background-color: $white;
        border: 3px solid $orange;
        height: 18px;
        width: 18px;
        margin-top: 0;
      }

      li {
        background-color: #fff;
        height: 12px;
        width: 12px;
        margin: 3px 5px;
        cursor: pointer;
        border: 2px solid $light-grey;

      }
    }

    .content {
      width: 100%;
      position: relative;
      overflow: hidden;

      .item {
        transition: transform 0.6s;

        .area {
          position: relative;

          .image {
            min-height: 300px;
            width: 100%;
            object-fit: cover;
            vertical-align: middle;
            border-style: none;
          }

          .info {
            position: absolute;
            top: 0;
            bottom: 0;
            max-width: 242px;
            left: 15px;

            .title {
              font-family: ProximaNova-Semibold;
              color: #fff;
              font-size: 1.5em;
              line-height: 1.875rem;
              margin: 44px 0 13px;

              span {
                font-family: ProximaNova-Bold;
                color: #ff5100;
                display: block;
              }
            }

            .text {
              font-size: 0.875em;
              color: #fff;
              line-height: 1.25rem;
              max-width: 333px;
            }

            a {
              color: #ff5100;
              text-decoration: none;
              background-color: transparent;

              .button {
                transition: 0.3s ease;
                border: 2px solid #ff5100;
                color: #fff;
                font-family: ProximaNova-Semibold;
                margin-top: 30px;
                min-height: 46px;
                max-width: 143px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}